.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  margin-top:10px;
  margin-bottom:10px;
  background-color:#FFF;
}

.card:hover {
  box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card > .card-inner {
  padding:10px;
}
.card .header h2, h3 {
  margin-bottom: 0px;
  margin-top:0px;
}
.card .header {
  margin-bottom:5px;
}
.card img{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.cardlist {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width: 100%;
  border: 1px solid lightgray;
  padding: 2%;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}
.site-main{
background-color:transparent;
}
#main{
border-top: 1px solid lightgray;
width:100%
}
#page{
background-color:white;
}
.card-title{
text-align: center;
font-size:150%;
}


.card-alt {
    background-color: #fbfbfb;
    border: 1px solid #d3dce6;
    border-radius: 6px;
    padding: 0 0 8px;
}
.progress-list ul li a {
    display: flex;
    align-items: center;
    color: rgba(37,38,94,.7);
    font-weight: 500;
    padding: 8px 24px;
    transition: all .2s ease-in;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}
.progress-list ul li .icon-wrap svg {
    background-color: #fbfbfb;
}
.progress-list ul li .progress-list__icon {
    margin-right: 16px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    position: relative;
    color: #d3dce6;
    z-index: 1;
    background-color: inherit;
}
.programiz-icon {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
.progress-list ul li:not(:last-child) .icon-wrap:after {
    content: '';
    position: absolute;
    top: 21px;
    left: 10px;
    width: 2px;
    height: 100%;
    background: #d3dce6;
    z-index: 0;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.cardsidebar {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /*transition: all 0.2s ease-in-out; */
  transition:all .2s ease-in;
  box-sizing: border-box;
  margin-top:10px;
  margin-bottom:10px;
  background-color:#FFF;
}
.cardmainbar {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /*transition: all 0.2s ease-in-out; */
  transition:all .2s ease-in;
  box-sizing: border-box;
  margin-top:10px;
  margin-bottom:10px;
   background-color: #fbfbfb;
      border: 1px solid #d3dce6;
      border-radius: 6px;
      padding: 0 0 8px;
}
.cardsidebar .progress-list ul li:hover{
  background-color: #327532;
}

.sublist a {
    display: flex;
    align-items: center;
    color: rgba(37,38,94,.7);
    font-weight: 500;
    padding: 8px 24px;
    transition: all .2s ease-in;
    font-size: 14px;
    line-height: 20px;
}
.cardhead{
      padding: 16px 24px;
      border-bottom: 1px solid #d3dce6;
      position: relative;
      font-weight: 500;
      color: #327532;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      line-height: 24px;
    }
.cardhead a {
  display: flex;
    align-items: center;
     color: #327532;
      font-weight: 500;
      font-size: 20px;
}


