.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  margin-top:10px;
  margin-bottom:10px;
  background-color:#FFF;
}

.card:hover {
  box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card > .card-inner {
  padding:10px;
}
.card .header h2, h3 {
  margin-bottom: 0px;
  margin-top:0px;
}
.card .header {
  margin-bottom:5px;
}
.card img{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
.cardlist {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  width: 100%;
  border: 1px solid lightgray;
  padding: 2%;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}
.site-main{
background-color:transparent;
}
#main{
border-top: 1px solid lightgray;
width:100%
}
#page{
background-color:white;
border-bottom : 1px solid #e5e7eb;
}
.card-title{
text-align: center;
font-size:150%;
}


.card-alt {
    background-color: #fbfbfb;
    border: 1px solid #d3dce6;
    border-radius: 6px;
    padding: 0 0 8px;
}
.progress-list ul li a {
    display: flex;
    align-items: center;
    color: rgba(37,38,94,.7);
    font-weight: 500;
    padding: 8px 24px;
    transition: all .2s ease-in;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}
.progress-list ul li .icon-wrap svg {
    background-color: #fbfbfb;
}
.progress-list ul li .progress-list__icon {
    margin-right: 16px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    position: relative;
    color: #d3dce6;
    z-index: 1;
    background-color: inherit;
}
.programiz-icon {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
.progress-list ul li:not(:last-child) .icon-wrap:after {
    content: '';
    position: absolute;
    top: 21px;
    left: 10px;
    width: 2px;
    height: 100%;
    background: #d3dce6;
    z-index: 0;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.cardsidebar {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /*transition: all 0.2s ease-in-out; */
  transition:all .2s ease-in;
  box-sizing: border-box;
  margin-top:10px;
  margin-bottom:10px;
  background-color:#FFF;
}
.cardmainbar {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /*transition: all 0.2s ease-in-out; */
  transition:all .2s ease-in;
  box-sizing: border-box;
  margin-top:10px;
  margin-bottom:10px;
   background-color: #fbfbfb;
      border: 1px solid #d3dce6;
      border-radius: 6px;
      padding: 0 0 8px;
}
.cardsidebar .progress-list ul li:hover{
  background-color: #327532;
}

.sublist a {
    display: flex;
    align-items: center;
    color: rgba(37,38,94,.7);
    font-weight: 500;
    padding: 8px 24px;
    transition: all .2s ease-in;
    font-size: 14px;
    line-height: 20px;
}
.cardhead{
      padding: 16px 24px;
      border-bottom: 1px solid #d3dce6;
      position: relative;
      font-weight: 500;
      color: #327532;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      line-height: 24px;
    }
.cardhead a {
  display: flex;
    align-items: center;
     color: #327532;
      font-weight: 500;
      font-size: 20px;
}

/* The sidebar menu */
.postsidenav { /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.postsidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.postsidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .postsidenav {padding-top: 15px;}
  .postsidenav a {font-size: 18px;}
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}
.bordersidebar{
border: 1px solid #e5e7eb;
}
.sidebarnav{
background-color: rgb(255 255 255/var(--tw-bg-opacity)) !important;
--tw-bg-opacity: 1;
line-height: 1.5rem;
border-right: 1px solid #e5e7eb;
padding-top:1%;
}
.maincontent{
background-color: white;
}
@media only screen and (max-width: 780px) {
  .sidebarnav {
    display: none;
  }
.maincontent{
width:100%;
background-color: white;
}
}
.read-details-tl p {
font-size:18px;
line-height: 2.5rem;
}


